* {
	box-sizing: border-box;
	margin: 0;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 980px;
	text-align: center;
}

.grid-item {
	width: 100%;
	margin-bottom: 30px;
	
}

@media screen and (min-width: 540px) {
	.grid-item {
		width: 50%;
	}
}

@media screen and (min-width: 960px) {
	.grid-item {
		width: 33.33%;
	}
}

@media screen and (min-width: 1080px) {
	.grid-item {
		margin-bottom: 56px;
		width: 25%;
	}
}


input[type="text"] {
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 15px 10px;
	margin: 30px 0;
	width: 100%;

}

@media screen and (min-width: 540px) {
	input[type="text"] {
		width: 40%;
	}

}
